<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>

    </script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;

        }

        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;
        }

        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* this is for the footer */
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgb(87, 86, 86);
            color: white;
            text-align: center;
        }

        /* -------------------------------------------------------------------------------------------------------------- */
        /* -------------------------------------------------------------------------------------------------------------- */
        h1 {
            color: white;
        }

        .fas fa-cart-arrow-down {
            /* position: relative; */
            right: 100%;

        }

        /* ?????????????????????????????????????????????????????????????????????????????? */
        @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
        @import url("https://fonts.googleapis.com/css?family=Metal+Mania");

        @font-face {
            font-family: "Booter - Zero Zero";
            src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
                url("Fonts/Booter - Zero Zero.woff2") format("woff2");
            font-weight: normal;
            font-style: normal;
        }

        * {
            box-sizing: border-box;
            font-family: Raleway;
            color: #777;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            min-height: 100%;
        }

        .section-header {
            font-family: "Metal Mania";
            font-weight: normal;
            color: #333;
            text-align: center;
            font-size: 2.5em;
        }

        .btn-header {
            margin: .5em 15% 2em 15%;
            color: white;
            border: 2px solid green;
            background-color: rgba(255, 255, 255, .1);
            border-radius: 0;
            font-size: 2.5em;
            font-weight: lighter;
            padding-left: 2em;
            padding-right: 2em;
        }

        .btn-header:hover {
            background-color: rgba(255, 255, 255, .3);
        }

        .btn-play {
            display: block;
            margin: 0 auto;
            color: green;
            font-size: 4em;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            padding: 0;
            text-align: center;
        }

        .btn-primary {
            color: black;
            background-color: orange;
            border: none;
            border-radius: .9em;
            font-weight: bold;
            border: black 2px double;
        }

        .btn-primary:hover {
            background-color: orange;
        }

        .shop-item {
            margin: 30px;
        }

        .shop-item-title {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
            color: #333;
            margin-bottom: 15px;
        }

        .shop-item-image {
            height: 250px;
        }

        .shop-item-details {
            display: flex;
            align-items: center;
            padding: 5px;
        }

        .shop-item-price {
            flex-grow: 1;
            color: #333;
        }

        .shop-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .cart-header {
            font-weight: bold;
            font-size: 1.25em;
            color: #333;
        }

        .cart-column {
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;
            margin-right: 1.5em;
            padding-bottom: 10px;
            margin-top: 10px;
        }

        .cart-row {
            display: flex;
        }

        .cart-item {
            width: 45%;
        }

        .cart-price {
            width: 20%;
            font-size: 1.2em;
            color: #333;
        }

        .cart-quantity {
            width: 35%;
        }

        .cart-item-title {
            color: #333;
            margin-left: .5em;
            font-size: 1.2em;
        }

        .cart-item-image {
            width: 75px;
            height: auto;
            border-radius: 10px;
        }

        .btn-danger {
            color: white;
            background-color: #EB5757;
            border: none;
            border-radius: .3em;
            font-weight: bold;
        }

        .btn-danger:hover {
            background-color: red;
        }

        .cart-quantity-input {
            height: 34px;
            width: 50px;
            border-radius: 5px;
            border: 1px solid #56CCF2;
            background-color: #eee;
            color: #333;
            padding: 0;
            text-align: center;
            font-size: 1.2em;
            margin-right: 25px;
        }

        .cart-row:last-child {
            border-bottom: 1px solid black;
        }

        .cart-row:last-child .cart-column {
            border: none;
        }

        .cart-total {
            text-align: end;
            margin-top: 10px;
            margin-right: 10px;
        }

        .cart-total-title {
            font-weight: bold;
            font-size: 1.5em;
            color: black;
            margin-right: 20px;
        }

        .cart-total-price {
            color: #333;
            font-size: 1.1em;
        }

        .btn-purchase {
            display: block;
            margin: 40px auto 80px auto;
            font-size: 1.75em;
        }

        .checked {
            color: orange;
        }

        /* ///////////////////////////////////////////////////////////////////////////// */
        * {
            box-sizing: border-box
        }

        body {
            font-family: Verdana, sans-serif;
            margin: 0
        }

        .mySlides {
            display: none
        }

        img {
            vertical-align: middle;
        }

        /* Slideshow container */
        .slideshow-container {
            width: 80%;
            height: 20%;
            position: relative;
            margin: auto;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(207, 84, 35, 0.8);
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active,
        .dot:hover {
            background-color: #717171;
        }

        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        @keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {

            .prev,
            .next,
            .text {
                font-size: 11px
            }
        }

        hr.new5 {
            border: 5px solid green;
            border-radius: 9px;
        }

        hr.new6 {
            border: 5px solid orange;
            border-radius: 9px;
        }

        hr.new7 {
            border: 5px solid purple;
            border-radius: 9px;
        }

        hr.new8 {
            border: 3px solid black;
            border-radius: 9px;
        }

        /* //////////////////////////////////////////////////////////////// */
        .card {
            box-shadow: 0 4px 8px 0 rgba(240, 99, 6, 0.9);
            max-width: 300px;
            height: 10%;

            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: black;
            background-color: orange;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .card button:hover {
            opacity: 0.7;
        }

        /* //////////////////////////////////////////////////////////////// */
    </style>
    </style>

</head>

<body>
        <div class="navbar">
                <a href="/login">Logout</a>
                <a href="/homepage" >Home</a>
               <center> <a href="/shoes">Shoes</a>
                <a href="/men" >Men's Fassion</a>
                <a href="/women">Women's Fassion</a>
                <a href="/sport" >Sport's</a>
                <a href="/recharge" >Mobile Recharge</a>
                <a href="/medicine">Medicine</a>
                <a href="/donate" >Donation</a></center>
                <script src='https://kit.fontawesome.com/a076d05399.js'></script>
              </div>
      
        <img src="offers.jpg" style="width:100%;height:150px">
        <center>
            <h1>Men's Hoodie</h1>
        </center>
        <table border="0" width="100%">
            <tr>
                <div class="shop-items">
                    <section class="container content-section">

                        <%  mobiledata.forEach(function(item){ %>
                        <td>
                            <center> <img class="shop-item-image" style="width:170px;height:190px"
                                    src="<%= item.imgName %>"></center>
                            <div class="shop-item" data-item-id="<%= item.id %>">
                                <center>
                                    <h6><span class="shop-item-title"><%= item.name %></span></h6>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <p><b> <span class="shop-item-price">₹<%= item.price / 1%></span></b></p>
                                    </centert>
                                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                </center>
                            </div>
                        </td>
                        <% }) %>
                    </section>
                </div>
                </div>
                </div>
                </td>
        </table>

</body>

</html>